﻿
@section head{
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
}

<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Pseudo">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password" placeholder="Mot de passe">
                    </div>

                  
                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <a id="btn-login" href="#" class="btn btn-success">Connexion  </a>
                            <a id="btn-fblogin" href="#" class="btn btn-primary">Connexion avec Facebook</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Vous n'avez pas de compte ?
                                <a href="@Url.Action("Index","Signup")">
                                    Inscrivez-vous ici !
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts{
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">


    $(document).ready(function () {

        $("#btn-login").on("click", function () {
            CheckCredentials();
        });





    });

    function CheckCredentials() {

        var username = $("input[name='username']").val();
        var pass = $("input[name='password']").val();

        $.post("@Url.Action("Connexion","Signup")/" + "?username=" + username + "&password=" + pass).done(function (data) {
            window.location.href = '@Url.Action("Index","Users")';
        });

    }



</script>    
    
}