﻿@model EZChat_App.Models.Users

@section head{
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!------ Include the above in your HEAD tag ---------->
}

<div class="container"><br />
    <div class="row">
        <div id="profile" class="col-md-8 col-md-offset-2">
                <h5 class="text-center">Inscription</h5>
                <fieldset>
                    <legend>Création du compte utilisateur</legend>
                    <div class="form-group col-md-6">
                        <label for="UserName">Pseudo</label>
                        <input type="text" class="form-control" name="UserName" id="@Model.UserName" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="FirstName">Prénom</label>
                        <input type="text" class="form-control" name="FirstName" id="@Model.FirstName" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="LastName">Nom de famille</label>
                        <input type="text" class="form-control" name="LastName" id="@Model.LastName" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="Email" id="@Model.Email" placeholder="@Model.Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Password">Mot de passe</label>
                        <input type="password" class="form-control" name="Password" id="@Model.Password" placeholder="@Model.Password">
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Détails</legend>
                    <div class="form-group col-md-6">
                        <label> Pays de résidence</label>
                        @Html.DropDownList("CountryCode",
                        new SelectList((System.Collections.IEnumerable)ViewData["CountriesList"], "code", "name"))
                    </div>
                    <div class="form-group col-md-6">
                        <label>Langue parlée</label>
                        @Html.DropDownList("LanguageCode",
                        new SelectList((System.Collections.IEnumerable)ViewData["SpokenLang"], "code", "name"))
                    </div>
                    <div class="form-group col-md-6">
                        <label for="BirthDate">Date de naissance</label>
                        <input type="date" name="BirthDate" />
                    </div>
                    <div class="form-group col-md-12 hidden">
                        <label for="specify">Veuillez spécifier ce champ</label>
                        <textarea class="form-control" id="specify" name=""></textarea>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="button" id="SignupBtn" class="btn btn-dark">Inscription</button>
                        <a href="@Url.Action("Connect","Signup")">Vous avez déjà un compte ?</a>
                    </div>
                </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script type="text/javascript">
        $(document).ready(function () {
            $('input').on('change', function () {
                $(this).val() == "" ? $('#specify').closest('.form-group').show() : $('#specify').closest('.form-group').hide();
            });

            $("#SignupBtn").on("click", function () {
                PostDetails();
            });






        });

        function PostDetails() {

            var details = $("#profile :input").serialize();
            $.post('@Url.Action("Register","SignUp")', details).done(function (data) {
                 window.location.href = '@Url.Action("Connect","SignUp")';
            });


        }

    </script>
    
}